@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");

/* font-family: 'Raleway', sans-serif; */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

/** ---------------- **/
/** --- NAVBAR --- **/
/** ---------------- **/
.navbar {
    padding: 30px;
    background-color: #30343f;
}

.navbar-brand>img {
    width: 80%;
}

.nav-link,
.nav-link:focus {
    color: white;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    padding: 5px 15px;
    /* margin-left: 20px; */
}

.navbar-nav>.nav-item {
    margin-left: 20px;
}

.nav-link:hover {
    color: white;
    background-color: red;
    transition: background 0.3s ease-in-out;
}

/** --- DROPDOWN --- **/

/**ícono flecha para dropdown de shop */
.dropbtn>iconify-icon {
    display: inline-block;
}

.dropbtn>iconify-icon>svg {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #30343f;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/** --------------------- **/
/** --- PRIMER SECTOR --- **/
/** --------------------- **/

.primerSector {
    background-image: url("../img/funkos-banner.webp");
    margin: 0;
    padding: 200px 0px;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: relative;
    /* backdrop-filter: blur(2px) brightness(.9); */
}

.primerSector::before {
    content: "";
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(0.9);
}

.contenidoPrimerSector {
    backdrop-filter: blur(0) brightness(1);
    color: white;
    
}

.linkPrimerSector,
.linkPrimerSector:focus {
    
    background-color: #fff;
    color: #30343f;
    padding: 12px 68px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1.1em;
}
.linkPrimerSector:hover {
    background-color: hsla(0, 100%, 60%, 0.9);
    color: #fff;
    transition: background 0.3s ease-in-out;
}

/** ---------------------- **/
/** --- Segundo SECTOR --- **/
/** ---------------------- **/

.segundoSector {
    padding: 30px 170px;
    /* margin: auto; */
    font-family: "Raleway", sans-serif;
}

.tituloSegundoSector {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 500;
}

.contenidoSegundoSector {
    font-family: "Raleway", sans-serif;
    font-size: 23px;
    font-weight: 300;
    border-bottom: 2px solid #ff3333;
    padding-bottom: 20px;
    display: block;
    margin-block-end: 40px;
    /* margin-block-start: 1em; */
}

.linkSegundoSector,
.linkSegundoSector:focus {
    background-color: #30343f;
    color: white;
    padding: 16px 36px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1.1em;
}

.linkSegundoSector:hover {
    background-color: #ff3333;
    transition: background 0.3s ease-in-out;
}

/** --------------------- **/
/** --- Tercer SECTOR --- **/
/** --------------------- **/


@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

.carousel-nav-arrow{   
    /* padding: 20px; */
    color: black;    
}

.carousel-control-next, .carousel-control-prev{
    position: absolute;
    display: block;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-transform: uppercase;
    padding: 9px 12px;
    /* background-color: transparent; */
    /**TODO: Lo dejo en rojo temporalmente, arreglar */
    background-color: red !important;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 4px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,.1);
    text-shadow: 0 0.25em 0.5em rgba(0,0,0,.1);
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease,border 300ms ease-in-out;
    line-height: 1;
    height: 50px;
    width: 50px;
}

.tercerSector {
    padding: 50px;
}


.terSecTagImgCover img{
    animation: fade .7s;
}
.terSecTagImgFondo{
    display: none;
}
.terSecTagImgCover:hover .terSecTagImgFondo {
    display: block;
}

.terSecTagImgCover:hover .terSecTagImgFrente {
    display: none;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.terSecTagLink{
    text-decoration: none;
    color: inherit;
}
.terSecTagFranquicia{
    font-weight: 500;

}
.terSecTagNombre{
    font-weight: 700;
    font-size: 20px;
}

.terSecTagPrecio{

}
.terSecTagCuota{
    color: #1D85B5;
    font-size: small;
    font-weight: 700;
}

/** -------------- **/
/** --- Footer --- **/
/** -------------- **/
.contenedorFooter {
    padding: 50px;
    background-color: #30343f;
}

.footerList{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.footer-copyright{
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}